window {
    background-color: rgba(40, 40, 40, 0.85);
}

button {
	background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-style: solid;
	border-width: 4px;
    border-color: #ebdbb2;
	background-color: rgba(40, 40, 40, 1);
    margin: 10px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.9);
}
button {
    color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 2px;
  border-radius: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #16a187;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}